/*
 * Banners for the site xeniamorgun.eu
 *
 * Made by Ralf Schneeweiss
 * www.oop-trainer.com
 *
 */

.BANNER1, .BANNER2, .BANNER3 {
	background-position: center top;
	background-repeat: no-repeat;
	margin-left: auto;  /* center align of */
	margin-right: auto; /* the whole panel */
	display: block;
}

@media only screen and (min-width: 1400px) {
	.BANNER1, .BANNER2, .BANNER3 {
		width: 1400px;
		height: 200px;
	}
	.BANNER1 {
		background-image: url('./x1400/banner1.png');
	}
	.BANNER2 {
		background-image: url('./x1400/banner2.png');
	}
	.BANNER3 {
		background-image: url('./x1400/banner3.png');
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.BANNER1, .BANNER2, .BANNER3 {
		width: 1200px;
		height: 200px;
	}
	.BANNER1 {
		background-image: url('./x1200/banner1.png');
	}
	.BANNER2 {
		background-image: url('./x1200/banner2.png');
	}
	.BANNER3 {
		background-image: url('./x1200/banner2.png');
	}
}
@media only screen and (max-width: 1199px) {
	.BANNER1, .BANNER2, .BANNER3 {
		width: 300px;
		height: 150px;
	}
	.BANNER1 {
		background-image: url('./x300/banner1.png');
	}
	.BANNER2 {
		background-image: url('./x300/banner_proposal2.jpg');
	}
	.BANNER3 {
		background-image: url('./x300/banner_proposal3.jpg');
	}
}

