/*
 * Fonts on the site xeniamorgun.eu
 *
 * Made by Ralf Schneeweiss
 * www.oop-trainer.com
 *
 */


@font-face {
	font-family: 'Onest';
	src: local('Onest'), url('./design/fonts/Onest/Onest-VariableFont_wght.ttf') format('truetype');
	font-display: swap;
}

body {
	font-family: Onest, Helvetica, Arial, sans-serif;
}

menu {
	font-weight: 100;
}

main {
	font-weight: 300;
	line-height: 140%;
}

@media (min-width: 700px) {
	h1.name {
		font-size: 22pt;
	}
}
@media (min-width: 530px) and (max-width: 699px) {
	h1.name {
		font-size: 16pt;
	}
}
@media (max-width: 529px) {
	h1.name {
		font-size: 14pt;
	}
}

footer .PANEL .oop-trainer {
	font-size: 6pt;
}
