/*
 */


@font-face {
    font-family: 'Onest';
    src: local('Onest'), url('./design/fonts/Onest/Onest-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

body {
	font-family: Onest, Helvetica, Arial, sans-serif;
}

menu {
    font-weight: 100;
}

main {
    font-weight: 300;
    line-height: 140%;
}

@media (min-width: 600px) {
    h1.name {
        font-size: 22pt;
    }
}
@media (max-width: 599px)   {
        h1.name {
        font-size: 16pt;
    }
}

.block_left,
.block_right {
	font-size:   11pt;
	font-weight: normal;
	text-shadow: none;
}


