/*
 */

menu {
    display: inline-block;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap; 
}

menu li {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18pt;
}

menu li a {
    text-decoration: none;
    color: rgb(95,95,95);
}

menu li.X a {
	 color: rgb(95,195,95);
}

menu li a:hover {
    color: black;
}

